echo "Connecting repository $GIT_REPO to Cloud Build"
gcloud builds repositories create $REPO_NAME \
  --remote-uri=$GIT_REPO \
  --connection=$CLOUDBUILD_CONNECTION \
  --region=northamerica-northeast1

echo "Deleting existing build trigger $APP_SLUG-shinyapp-trigger"
gcloud builds triggers delete $APP_SLUG-shinyapp-trigger

echo "Setting up new build trigger for $GIT_BRANCH branch"
gcloud builds triggers create github \
  --name=$APP_SLUG-shinyapp-trigger \
  --repository=projects/phx-datadissemination/locations/northamerica-northeast1/connections/$CLOUDBUILD_CONNECTION/repositories/$REPO_NAME \
  --branch-pattern=^$GIT_BRANCH$ \
  --inline-config=./cloudbuild/$APP_SLUG.cloudbuild.yaml \
  --region=northamerica-northeast1

echo "Running build trigger"
gcloud builds triggers run $APP_SLUG-shinyapp-trigger

echo "Done Cloud Build setup for $APP_SLUG!"