steps:
  # Docker Build
  - name: 'gcr.io/cloud-builders/docker'
    args: ['build', '-t', 
           '$REGION-docker.pkg.dev/${_GCP_PROJECT_ID}/hosted-apps-repo/${_APP_SLUG}', 
           '.']

  # Docker Push
  - name: 'gcr.io/cloud-builders/docker'
    args: ['push', 
           '$REGION-docker.pkg.dev/${_GCP_PROJECT_ID}/hosted-apps-repo/${_APP_SLUG}']

  # Kubectl Rollout Restart
  - name: 'gcr.io/cloud-builders/kubectl'
    env:
    - 'CLOUDSDK_COMPUTE_REGION=$REGION'
    - 'CLOUDSDK_CONTAINER_CLUSTER=$CLUSTER_NAME'
    args: ['rollout', 'restart', 'deployment/${_APP_SLUG}-deployment']

substitutions:
    _APP_SLUG: $APP_SLUG
    _GCP_PROJECT_ID: $GCP_PROJECT_ID