apiVersion: apps/v1
kind: Deployment
metadata:
  name: $APP_SLUG-deployment
  labels:
    app: $APP_SLUG
spec:
  replicas: 1
  minReadySeconds: 120
  selector:
    matchLabels:
      app: $APP_SLUG
  template:
    metadata:
      labels:
        app: $APP_SLUG
    spec:
      containers:
      - name: $APP_SLUG
        image: $APP_IMAGE
        imagePullPolicy: Always
        resources:
          requests:
            memory: "$MEM_MINMi"
            cpu: "$CPU_MIN"
          limits:
            memory: "$MEM_MAXMi"
            cpu: "$CPU_MAX"
        ports:
        - containerPort: $APP_PORT
---
apiVersion: v1
kind: Service
metadata:
  name: $APP_SLUG-service
spec:
  selector:
    app: $APP_SLUG
  ports:
    - protocol: TCP
      port: 8100
      targetPort: $APP_PORT
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: $APP_SLUG-ingress
  annotations:
    nginx.ingress.kubernetes.io/use-regex: "true"
    nginx.ingress.kubernetes.io/configuration-snippet: |-
      rewrite ^/shiny/$APP_SLUG/(.+)$ /$1 break;
    nginx.ingress.kubernetes.io/auth-url: "http://djangoapp-service.default.svc.cluster.local:8000/shiny_auth/$APP_SLUG/"
    kubernetes.io/ingress.global-static-ip-name: django-shiny-ip-prod
  labels:
    app: $APP_SLUG
spec:
  ingressClassName: nginx
  rules:
  - host: test.shiny.phac.alpha.canada.ca
    http:
      paths:
      - path: /shiny/$APP_SLUG/.+
        pathType: ImplementationSpecific
        backend:
          service:
            name: $APP_SLUG-service
            port:
              number: 8100
