{% extends 'base.jinja' %}

{% block content %}

  <div class="container mt-3">
    <h2>Django authentication for Shiny apps demo</h2>
    <p class="mt-3">
      Notice that this home page is not protected, so anyone can access it.
    </p>
    <p>
      We can add Shiny apps to the tab-bar which are either protected, or not. Protected apps will require the user to be authenticated before accessing them.
    </p>
    <p>
      <b>To begin, try clicking one of the links above.</b> You will be prompted to login to view the Shiny app.
    </p>
    <p>
      Ultimately, we can add as many Shiny apps as we want to the tab-bar. Each runs in its own container and is proxied through Django, appearing in an iframe.
    </p>
  </div>
{% endblock %}
