{% extends 'base.jinja' %}

{% block content %}

  <div class="container mt-4">
    <h2 class="mb-0">{{ tm("app_directory") }}</h2>
    <div class="form-check form-switch mt-3">
      <input class="form-check-input" type="checkbox" role="switch" id="onlyShowAccessibleApps">
      <label class="form-check-label" for="onlyShowAccessibleApps">
        {{ tm("only_show_accessible_apps") }}
        {% if request.user.is_anonymous %}
        ({{ tm("anonymous_user_subtitle") }} <a href="{{ url("email_login") }}">{{ tm("login") }}</a>)
        {% endif %}
      </label>
    </div>
    {% set default_card_link = "a.view-app" %}
    {% include 'components/app_list.jinja' %}
    <hr class="mt-5">
    <h4>{{ tm("about_app_directory_title") }}</h4>
    <p class="mt-3">
      {{ tm("about_app_directory_text1") }} 
    </p>
    <p>
      {{ tm("about_app_directory_text2") }}
    </p>
    <p>
      {{ tm("technical_info") }}
<a href="https://github.com/PHACDataHub/django-shiny"><i class="bi bi-github"></i> django-shiny</a>
      {{ tm("on_github") }}. 
      <a href="mailto:datascience-sciencedesdonnees@phac-aspc.gc.ca?subject=PHAC Shiny app directory">{{ tm("email_ds") }}</a>
      {{ tm("at_phac") }}.
    </p>
  </div>
{% endblock %}
