{% extends 'base.jinja' %}

{% macro key_value_form(form) %}
  <tr class="shinyappkeyvalue-form">
    <td>{{ form.key }}</td>
    <td>{{ form.value }}</td>
    <td>{{ form.group }}</td>
    <td>{{ form.DELETE }}{{form.id}}</td>
  </tr>
{% endmacro %}

{% block content %}
  {% if not create %}
    <table class="d-none shinyappkeyvalue-empty-form-container">
      {{ key_value_form(key_value_formset.empty_form) }}
    </table>
  {% endif %}

  <div class="container mt-3 mb-5">
    {% if create %}
      <h2>{{ tm("create_new_app") }}</h2>
    {% else %}
      <div class="row">
        <div class="col">
          <h2>{{ tm("manage_app") }}: {{ app }}</h2>
        </div>
        <div class="col-auto">
          <a href="{{ url("shiny", app.slug) }}" class="mt-1 btn btn-primary">{{ tm("view_app") }}</a>
        </div>
      </div>
    {% endif %}
    <hr>
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <h4>{{ tm("app_hosting_info") }} ({{ tm("required") }})</h4>
      <div class="form-group mt-3">
        <label for="app_slug" class="form-label">{{ tm("app_slug_label") }} <em>{{ tm("app_slug_example") }}</em>)</label>
        <input required type="text" class="form-control" id="app_slug" name="slug" value="{{ form.instance.slug }}"
        {% if not create %}readonly{% endif %}>
      </div>
      <div class="form-group mt-3">
        <label for="app_url" class="form-label">{{ tm("github_repo_label") }} <em>{{ tm("github_repo_example") }}</em>)</label>
        <input required type="text" class="form-control" id="app_url" name="repo" value="{{ form.instance.repo }}">
      </div>
      <div class="form-group mt-3">
        <label for="app_branch" class="form-label">{{ tm("branch") }}</label>
        <input required type="text" class="form-control" id="app_branch" name="branch" value="{{ form.instance.branch }}">
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group mt-3">
            <label for="id_port" class="form-label">{{ tm("port") }}</label>
            {{ form.port }}
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group mt-3">
            <label for="id_mem_min" class="form-label">{{ tm("minimum_memory_label") }} (MiB)</label>
            {{ form.mem_min }}
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group mt-3">
            <label for="id_mem_max" class="form-label">{{ tm("maximum_memory_label") }} (MiB)</label>
            {{ form.mem_max }}
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group mt-3">
            <label for="id_cpu_min" class="form-label">{{ tm("minimum_vcpu_label") }}</label>
            {{ form.cpu_min }}
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group mt-3">
            <label for="id_cpu_max" class="form-label">{{ tm("maximum_vcpu_label") }}</label>
            {{ form.cpu_max }}
          </div>
        </div>
      </div>
      <p class="mt-3">
        {{ tm("dockerfile_expose_port") }}
        <a href="https://github.com/PHACDataHub/django-shiny/tree/main/shinyapp_example/wastewater">{{ tm("example_wastewater_app") }}</a> {{ tm("in_this_repo") }}.
      </p>
      {% if create %}
        <p>{{ tm("cloud_build_trigger_info1") }}</p>
        <p>{{ tm("cloud_build_trigger_info2") }}</p>
        <p>{{ tm("repo_organization_restriction") }}</p>
      {% endif %}

      <h4 class="mt-3">{{ tm("app_metadata") }} ({{ tm("optional_but_recommended") }})</h4>
      <div class="form-group mt-3">
        <label for="app_name" class="form-label">{{ tm("display_name_label") }}</label>
        <input type="text" class="form-control" id="app_name" name="display_name" value="{{ form.instance.display_name }}">
      </div>
      <div class="form-group mt-3">
        <label for="app_description" class="form-label">{{ tm("description_label") }}</label>
        <textarea class="form-control" id="app_description" name="description" rows="3">{{ form.instance.description }}</textarea>
      </div>
      <div class="form-group mt-3">
        <label for="app_contact_email" class="form-label">{{ tm("contact_email_label") }}</label>
        <input type="email" class="form-control" id="app_contact_email" name="contact_email"
        value="{% if create %}{{ request.user.email }}{% else %}{{ form.instance.contact_email }}{% endif %}">
      </div>
      <div class="form-group mt-3">
        <label for="id_thumbnail" class="form-label">{{ tm("thumbnail_label") }}</label>
        <div class="row">
          {% if form.instance.thumbnail %}
          <div class="col-auto pe-0">
            <a href="{{ form.instance.thumbnail.url }}" target="blank">
              <img src="{{ form.instance.thumbnail.url }}" class="img-thumbnail" alt="Thumbnail" width="100px">
            </a>
          </div>
          {% endif %}
          <div class="col">
            <div class="form-control">{{ form.thumbnail}}</div>
          </div>
        </div>
      </div>

      <h4 class="mt-3">{{ tm("app_display_options") }}</h4>
      <div class="form-check mt-3">
        <input type="checkbox" class="form-check-input" id="app_full_width" name="full_width" {% if form.instance.full_width %}checked{% endif %}>
        <label for="app_full_width" class="form-label">{{ tm("display_full_width") }}</label>
      </div>
      
      <h4 class="mt-3">{{ tm("access_controls") }}</h4>
      {% if create %}
        <p>{{ tm("initial_access_limited_to_admins") }}</p>
      {% else %}
        <a href="{{ url("manage_users") }}" class="mt-3">{{ tm("manage_user_groups") }}</a>
        <div class="form-group mt-3">
          <label for="id_accessible_by" class="form-label">{{ tm("accessible_and_visible_to") }}</label>
          {{ form.accessible_by }}
        </div>
        <div class="form-group mt-3">
          <label for="id_visible_to" class="form-label">{{ tm("visible_but_not_accessible_to") }}</label>
          {{ form.visible_to }}
        </div>
      {% endif %}

      {% if not create %}
        <h4 class="mt-3">{{ tm("custom_key_values") }} ({{ tm("optional") }})</h4>
        <div>
          <table class="table table-bordered mt-3" id="shinyappkeyvalue-table">
            <thead>
              <tr>
                <th>{{ tm("key_label") }}</th>
                <th>{{ tm("value_label") }}</th>
                <th>{{ tm("group_label") }}</th>
                <th>{{ tm("delete_label") }}</th>
              </tr>
            </thead>
            <tbody id="shinyappkeyvalue-table-body" class="shinyappkeyvalue-form-list">
              {{ key_value_formset.management_form }}
              {% for form_item in key_value_formset %}
                {{ key_value_form(form_item) }}
              {% endfor %}
            </tbody>
          </table>
          <div class="text-center py-1">
            <button type="button" id="add-form" class="btn btn-primary btn-sm px-4">{{ tm("new_key_value") }}</button>
          </div>
        </div> 
      {% endif %}
      
      <div class="row mt-3">
        <div class="col">
          <button type="submit" class="btn btn-primary">{{ tm("submit_button") }}</button>
          <a href="{{ url("manage_apps") }}" type="button" class="btn btn-secondary">{{ tm("cancel_button") }}</a>
        </div>
        {% if not create %}
          <div class="col-auto">
            <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                  data-bs-target="#deleteModal">
              {{ tm("delete_button") }}
            </button>
          </div>
        {% endif %}
      </div>

    </form>
  </div>

  {% if not create %}
    <!-- Modal -->
    <div class="modal" tabindex="-1" id="deleteModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">{{ tm("confirm_delete") }}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>{{ tm("confirm_delete_message") }}</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ tm("close_button") }}</button>
            <form method="POST" action="{{ url("delete_app", form.instance.slug) }}">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger">{{ tm("delete_app_button") }}</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  {% endif %}

  <script>
    let addButton = document.querySelector("#add-form");
    addButton.addEventListener('click', addForm);
    function addForm(e) {
      e.preventDefault();
      let forms = document.querySelectorAll(".shinyappkeyvalue-form-list > .shinyappkeyvalue-form");
      let newFormIndex = forms.length;
      let numForms = forms.length + 1;
      let formTemplateNode = document.querySelector(".shinyappkeyvalue-empty-form-container");
      let container = document.querySelector(".shinyappkeyvalue-form-list");
      let totalFormsInput = document.querySelector("#id_shinyappkeyvalue_set-TOTAL_FORMS"); //management form inputs
      
      let formRegex = RegExp(`shinyappkeyvalue_set-__prefix__-`,'g')
      let newFormHtml = formTemplateNode.innerHTML.replace(formRegex, `shinyappkeyvalue_set-${newFormIndex}-`)
      let newForm = document.createElement("tr")
      newForm.classList.add("shinyappkeyvalue-form")
      newForm.innerHTML = newFormHtml;
      container.appendChild(newForm)
      totalFormsInput.setAttribute('value', `${numForms}`)
    }
  </script>

{% endblock %}
