{% extends 'base.jinja' %}

{% block content %}

  <div class="container mt-4">
    {% if create %}
      <h2>{{ tm("create_new_user_group") }}</h2>
    {% else %}
      <h2>{{ tm("manage_user_group") }}: {{ str(group) }}</h2>
    {% endif %}
    <hr>
    <form method="POST">
      {% csrf_token %}
      <div class="form-group">
        <label for="name" class="form-label">{{ tm("name_optional") }}</label>
        <input type="text" class="form-control" id="name" name="name"
               value="{{ form.name.value() or "" }}">
      </div>
      <div class="form-group mt-3">
        <label class="form-label">{{ tm("email_matches") }}</label>
        {{ form.email_matches }}
        <a href="{{ url('create_email_match') }}">{{ tm("create_new_email_match") }}</a>
      </div>
      <div class="row mt-3">
        <div class="col">
          <button type="submit" class="btn btn-primary">{{ tm("submit_button") }}</button>
          <a href="{{ url("manage_users") }}" type="button" class="btn btn-secondary">{{ tm("cancel_button") }}</a>
        </div>
        {% if not create %}
          <div class="col-auto">
            <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                  data-bs-target="#deleteModal">
              {{ tm("delete_button") }}
            </button>
          </div>
        {% endif %}
      </div>
    </form>
    {# Delete #}
    {% if not create %}
      <!-- Modal -->
      <div class="modal" tabindex="-1" id="deleteModal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">{{ tm("confirm_delete") }}</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p>{{ tm("confirm_delete_message") }}</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ tm("close_button") }}</button>
              <form method="POST" action="{{ url("delete_user_group", group.id)}}">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">{{ tm("delete_group_button") }}</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
    
  </div>
{% endblock %}
