{% extends 'base.jinja' %}

{% block content %}

  <div class="container mt-3 mb-5">
    <h2>Manage app: {{ app|capitalize }}</h2>
    <hr>
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <h4>App hosting info (read-only)</h4>
      <div class="form-group mt-3">
        <label for="app_slug" class="form-label">App slug (alphanumeric and spaces only)</label>
        <input required type="text" class="form-control" id="app_slug" name="slug" value="{{ app.slug }}" readonly>
      </div>
      <div class="form-group mt-3">
        <label for="app_url" class="form-label">GitHub repo</label>
        <input required type="text" class="form-control" id="app_url" name="repo" value="{{ app.repo }}" readonly>
      </div>
      <div class="form-group mt-3">
        <label for="app_branch" class="form-label">Branch</label>
        <input required type="text" class="form-control" id="app_branch" name="branch" value="{{ app.branch }}" readonly>
      </div>

      <h4 class="mt-3">App metadata (optional)</h4>
      <div class="form-group mt-3">
        <label for="app_name" class="form-label">App name</label>
        <input type="text" class="form-control" id="app_name" name="display_name" value="{{ app.display_name }}">
      </div>
      <div class="form-group mt-3">
        <label for="app_description" class="form-label">App description</label>
        <textarea class="form-control" id="app_description" name="description" rows="3">{{ app.description }}</textarea>
      </div>
      <div class="form-group mt-3">
        <label for="app_contact_email" class="form-label">Contact email</label>
        <input type="email" class="form-control" id="app_contact_email" name="contact_email" value="{{ app.contact_email }}">
      </div>
      <div class="form-group mt-3">
        <label for="app_thumbnail" class="form-label">Thumbnail</label>
        <div class="row">
          {% if form.instance.thumbnail %}
          <div class="col-auto pe-0">
            <a href="{{ form.instance.thumbnail.url }}" target="blank">
              <img src="{{ form.instance.thumbnail.url }}" class="img-thumbnail" alt="Thumbnail" width="100px">
            </a>
          </div>
          {% endif %}
          <div class="col">
            <div class="form-control">{{ form.thumbnail}}</div>
          </div>
        </div>
      </div>

      <h4 class="mt-3">Access controls</h4>
      <a href="{{ url("manage_users") }}" class="mt-3">Manage user groups</a>
      <div class="form-group mt-3">
        <label for="app_accessible_by" class="form-label">Accessible by</label>
        {{ form.accessible_by }}
      </div>
      <div class="form-group mt-3">
        <label for="app_visible_to" class="form-label">Visible to (additive to "Accessible by")</label>
        {{ form.visible_to }}
      </div>

      <button type="submit" class="mt-3 btn btn-primary">Submit</button>
    </form>
  </div>
{% endblock %}
