{% extends 'base.jinja' %}

{% block content %}

  <div class="container mt-4">
    <h2>{{ tm("manage_user") }}: {{ target_user }}</h2>
    <hr>
    <form method="POST">
      {% csrf_token %}
      <div class="row">
        <div class="col">
          <input type="checkbox" class="form-check-input" id="is_superuser"
          name="is_superuser" {% if form.instance.is_superuser %}checked{% endif %}>
          <label class="form-check-label" for="is_superuser">{{ tm("app_admin") }}</label>
        </div>
      </div>

      <button type="submit" class="btn btn-primary mt-3">{{ tm("submit_button") }}</button>
    </form>
    
  </div>
{% endblock %}
