{% extends 'base.jinja' %}

{% block content %}

  <div class="container mt-4">
    <h2>Manage email matches</h2>
    <p class="mt-3">Apps can be limited in visibility or accessibility to certain user groups.</p>
    <p>Specify an individual email address, a domain name, or regex to match user login emails.</p>
    <a href="{{ url('create_email_match') }}" class="btn btn-primary mb-3">Create new email match</a>
    <ul>
    {% for email_match in email_matches %}
      <li>
        <a href="{{ url('manage_email_match', email_match.id) }}">
          {{ email_match }}
        </a>
      </li>
    {% endfor %}
    </ul>

    <h2>Manage user groups</h2>
    <p class="mt-3">Each user group has one or more email matches associated with it.</p>
    <p>Unless you want to match multiple domain names, or make a group of multiple individuals, you probably don't need to edit these manually. Instead, create a new email match above.</p>
    <a href="{{ url('create_user_group') }}" class="btn btn-outline-primary mb-3">Create new user group</a>
    <ul>
    {% for user_group in user_groups %}
      <li>
        {% if user_group.name != "Public" %}
          <a href="{{ url('manage_user_group', user_group.id) }}">
            {{ user_group }}
          </a>
        {% else %}
          {{ user_group }}  {# public group is not editable #}
        {% endif %}
      </li>
    {% endfor %}
    </ul>

  <h2>Manage app admins</h2>
  <p class="mt-3">App admins can access all apps, and can modify access controls. If you are reading this, you are an app admin!</p>
  <p>Grant or revoke add admin privileges to users below. <em>A user must login once before they can be made an app admin.</em></p>
  {% if superusers %}
  <h4>Currently an app admin:</h4>
  <ul>
  {% for user in superusers %}
    <li>
      <a href="{{ url('manage_user', user.id) }}">
        {{ user }}
      </a>
    </li>
  {% endfor %}
  </ul>
  {% endif %}
  {% if non_superusers %}
  <h4>Not an app admin:</h4>
  <ul>
  {% for user in non_superusers %}
    <li>
      <a href="{{ url('manage_user', user.id) }}">
        {{ user }}
      </a>
    </li>
  {% endfor %}
  </ul>
  {% endif %}
  </div>
{% endblock %}
