{% extends 'base.jinja' %}

{% block content %}

  <div class="container mt-4">
    <h2>{{ tm("manage_email_matches") }}</h2>
    <p class="mt-3">{{ tm("email_matches_description1") }}</p>
    <p>{{ tm("email_matches_description2") }}</p>
    <a href="{{ url('create_email_match') }}" class="btn btn-primary mb-3">{{ tm("create_new_email_match") }}</a>
    <ul>
    {% for email_match in email_matches %}
      <li>
        <a href="{{ url('manage_email_match', email_match.id) }}">
          {{ email_match }}
        </a>
      </li>
    {% endfor %}
    </ul>

    <h2>{{ tm("manage_user_groups") }}</h2>
    <p class="mt-3">{{ tm("user_groups_description1") }}</p>
    <p>{{ tm("user_groups_description2") }}</p>
    <a href="{{ url('create_user_group') }}" class="btn btn-outline-primary mb-3">{{ tm("create_new_user_group") }}</a>
    <ul>
    {% for user_group in user_groups %}
      <li>
        {% if user_group.name != "Public" %}
          <a href="{{ url('manage_user_group', user_group.id) }}">
            {{ user_group }}
          </a>
        {% else %}
          {{ user_group }}  {# public group is not editable #}
        {% endif %}
      </li>
    {% endfor %}
    </ul>

  <h2>{{ tm("manage_app_admins") }}</h2>
  <p class="mt-3">{{ tm("app_admins_description1") }}</p>
  <p>{{ tm("app_admins_description2") }}</p>
  {% if superusers %}
  <h4>{{ tm("currently_an_app_admin") }}</h4>
  <ul>
  {% for user in superusers %}
    <li>
      <a href="{{ url('manage_user', user.id) }}">
        {{ user }}
      </a>
    </li>
  {% endfor %}
  </ul>
  {% endif %}
  {% if non_superusers %}
  <h4>{{ tm("not_an_app_admin") }}</h4>
  <ul>
  {% for user in non_superusers %}
    <li>
      <a href="{{ url('manage_user', user.id) }}">
        {{ user }}
      </a>
    </li>
  {% endfor %}
  </ul>
  {% endif %}
  </div>
{% endblock %}
