<div id="app-list" class="mt-3">
  {% for app in apps %}
  {% set access=app.check_visibility(request.user) %}
  {% if access %}
    <div class="card app-card mb-3 user-{{ access }}">
      <div class="card-body pt-0">
        <div class="row">
          <div class="col mt-3">
            <h5 class="card-title">{{ app }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">
              {% if app.is_admin_only %}
              <i class="bi bi-shield-lock text-danger"></i> Admin access only
              {% elif not app.is_publicly_accessible %}
              <i class="bi bi-lock text-muted"></i> Limited access
              {% else %}
              <i class="bi bi-globe"></i> Public access
              {% endif %}
            </h6>
            <p class="card-text">{{ app.description or "No description" }}</p>
            <a href="{{ url("shiny", app.slug) }}" class="card-link view-app">View app</a>
            <a href="{{ url("shiny", app.slug) }}?fullscreen=True" target="blank" class="card-link view-app">Fullscreen</a>
            {% if request.user.is_superuser %}
            <a href="{{ url("manage_app", app.slug) }}" class="card-link manage-app text-danger">Manage</a>
            {% endif %}
          </div>
          {% if app.thumbnail %}
            <div class="col-lg-4 text-end mt-3">
              <img src="{{ app.thumbnail.url }}" class="app-thumbnail">
            </div>
          {% endif %}
        </div>
        {% if manage %}
          <hr>
          <dl class="mb-0">
            <dt>GitHub repo</dt>
            <dd><a href="{{ app.repo }}" target="blank">{{ app.repo }}</a></dd>
            <div class="row">
              <div class="col-md-3">
                <dt>Branch</dt>
                <dd>{{ app.branch }}</dd>
              </div>
              <div class="col-md-3">
                <dt>Port</dt>
                <dd>{{ app.port }}</dd>
              </div>
              <div class="col-md-3">
                <dt>Memory (MiB)</dt>
                <dd>{{ app.mem_min }} to {{ app.mem_max }}</dd>
              </div>
              <div class="col-md-3">
                <dt>vCPU</dt>
                <dd>{{ app.cpu_min }} to {{ app.cpu_max }}</dd>
              </div>
            </div>
            <dt>Contact email</dt>
            <dd><a href="mailto:{{ app.contact_email }}?subject=PHAC Shiny app: {{ app }}">{{ app.contact_email }}</a></dd>
            <dt>Accessible and visible to</dt>
            <dd>
              <ul class="mb-0">
              {% if app.is_admin_only or not list(app.accessible_by.all()) %}
                <li>Admins only</li>
              {% else %}
                {% for group in list(app.accessible_by.all()) %}
                  <li>{{ group }}</li>
                {% endfor %}
              {% endif %}
              </ul>
            </dd>
            <dt>Visible, but not accessible to</dt>
            <dd>
              <ul class="mb-0">
              {% if app.is_admin_only or not list(app.visible_to.all()) %}
                <li>None</li>
              {% else %}
                {% for group in list(app.visible_to.all()) %}
                  <li>{{ group }}</li>
                {% endfor %}
              {% endif %}
              </ul>
          </dl>
        {% endif %}
      </div>
    </div>
  {% endif %}
  {% endfor %}
  <div class="app-list-spacer"></div>
</div>

<script>
document.querySelectorAll('.app-card').forEach(function(card) {
  // Add a click handler to the card that just clicks its child "a.view-app" link.
  card.addEventListener('click', function(e) {
    if (e.target.tagName.toLowerCase() !== 'a') {
      card.querySelector('{{ default_card_link }}').click();
    }
  });
});
// Filter cards based on the toggle state of "#onlyShowAccessibleApps" checkbox
let onlyShowAccessibleApps = document.querySelector('#onlyShowAccessibleApps');
if (onlyShowAccessibleApps) {
  onlyShowAccessibleApps.addEventListener('change', function(e) {
    let showAccessible = e.target.checked;
    document.querySelectorAll('.app-card').forEach(function(card) {
      let userAccess = card.classList.contains('user-accessible');
      if (showAccessible && !userAccess) {
        card.classList.add('d-none');
      } else {
        card.classList.remove('d-none');
      }
    });
    adjustCardSpacer();
  });
}
function adjustCardSpacer() {
  // If the app list has an uneven number of 
}
</script>