apiVersion: v1
kind: Secret
metadata:
  name: secrets
type: Opaque
data:
  POSTGRES_PASSWORD: base64encoded...
  # DEBUG: VHJ1ZQ==  # True
  DEBUG: RmFsc2UK  # False
  POWER_AUTOMATE_URL: base64encoded...
  MAGICLINK_METHOD: cG93ZXJfYXV0b21hdGU=  # power_automate (power_automate, django_smtp, gc_notify)
  ALLOWED_EMAIL_DOMAINS: Kg==  # *
  CLOUDBUILD_CONNECTION: amstZ2l0aHVi  # jk-github (name of cloud build connection to GitHub)
  GS_BUCKET_NAME: base64encoded...globally unique GCS bucket name
  GOOGLE_APPLICATION_CREDENTIALS: Li9nY3Bfc2VydmljZV9hY2NvdW50X2tleS5qc29u  # ./gcp_service_account_key.json
