apiVersion: v1
kind: Secret
metadata:
  name: secrets
type: Opaque
data:
  POSTGRES_PASSWORD: base64encoded...
  DEBUG: base64encoded...(True, False)
  POWER_AUTOMATE_URL: base64encoded...
  MAGICLINK_METHOD: base64encoded...(power_automate, django_smtp, gc_notify)
  ALLOWED_EMAIL_DOMAINS: base64encoded...comma separated list of email domains
  CLOUDBUILD_CONNECTION: base64encoded...name of cloud build connection to GitHub
  GS_BUCKET_NAME: base64encoded...globally unique GCS bucket name
