{% extends 'base.jinja' %}
{% block title %}<title>{{ tm("login") }}</title>{% endblock %}
{% block content %}
    <div class="container p-0 d-flex justify-content-center"
         id="login-container">
        <div class="col-md-6 col-sm-12">
            <div class="alert alert-danger fade show">
                <div>{{ tm("login_failed") }}</div>
            </div>
            <div>
                <p>{{ tm("login_failed_message") }}</p>
                <p>{{ login_error }}</p>
                <p>{{ tm("login_error_reason") }}</p>
                <ul>
                    <li>{{ tm("malformed_url") }}</li>
                    <li>{{ tm("expired_link") }}</li>
                    <li>{{ tm("already_used_link") }}</li>
                    {% if ONE_TOKEN_PER_USER %}
                        <li>{{ tm("new_magic_link") }}</li>
                    {% endif %}
                    {% if REQUIRE_SAME_BROWSER %}
                        <li>{{ tm("different_browser") }}</li>
                    {% endif %}
                    {% if REQUIRE_SAME_IP %}
                        <li>{{ tm("different_location") }}</li>
                    {% endif %}
                    {% if not ALLOW_SUPERUSER_LOGIN or not ALLOW_STAFF_LOGIN %}
                        <li>{{ tm("superuser_staff_login") }}</li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endblock content %}
