{% extends 'base.jinja' %}
{% set login_form = true %}
{% block title %}<title>Login</title>
{% endblock %}
{% block content %}
  <div class="container p-0 d-flex justify-content-center"
       id="login-container">
    <div class="col-md-6 col-sm-12">
      <div class="alert alert-success fade show">
        <div>{{ tm("login_link_sent") }}</div>
        <div class="mt-2">{{ tm("click_to_login") }}</div>
        <div class="mt-2 fw-semibold">{{ tm("please_wait_for_login") }}</div>
      </div>
    </div>
  </div>
{% endblock content %}
